<div>
	<h1>Hi baby</h1>
	<img width= "300px" src="<%= @get_image %>">

	<% @matchFaces.each do |image| %>	
		<img width= "300px" src="http://training.makingdevs.com.s3.amazonaws.com/<%= image %>">
	<% end %>
</div>
