<html>
<head>
	<title>Rekognition app</title>
</head>
<body>
	<div>
		<h1>Upload an image</h1>
		<img width="300px "src="https://profile.actionsprout.com/default.jpeg">
	</div>
	<div>
		<button>Push me</button>
	</div>
</body>
</html>