<section>
	<div class="container">


		<div class ="text-center">	
			
			<form action="/upload" method="POST" enctype="multipart/form-data">
				
				<div class="text-center">
					<img width="400px" src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" class="rounded">
				</div>


				<div class="upload-btn-wrapper">
  					<button class="botn">Upload an image</button>
  					<input type="file" name="myfile" />
				</div>
				<div>
					<button class="btn btn-info">Push me</button>
				</div>
			</form>
		</div>
	</div>
</section>